.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin: auto; /* Center the container */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap; /* Ensure text is in a straight line */
  /* display: flex; */
}

.formInput {
  height: 15px; 
  padding: 15px; 
  font-size: 16px; 
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ff7139;
  
}

.loginButton {
  background-color: #ff7139;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px; /* Increase the margin-top to move it down */
}



