.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}

.loginContainer {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin: auto; /* Center the container */
}

.loginTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap; /* Ensure text is in a straight line */
  display: flex;
}

.formInput {
  height: 15px; 
  padding: 15px; 
  font-size: 16px; 
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ff7139;
}

