.tList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tListItem{
  flex:1;
  overflow: hidden;
  cursor: pointer;
}

.tListItem:hover {
  transform: scale(1.1);
}
  
.tListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.tListTitles>h1{
  font-size: 18px;
  color: #444;
  text-transform: capitalize;
}

.tListTitles>h2{
  font-size: 14px;
  font-weight: 300;
} 


h2 {
  margin-top: -10px; 
  
}