.navbar{
    height: 50px;
    background-color: #A0ECD0;
    display: flex;
    justify-content: center;

}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Arial';

}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: black;

}

