.footer{
  width: 100%;
  font-size: 12px;
  margin-top: 50px;
  background-color: #F5F5F5;
}

.footer a {
  text-decoration: none; /* Remove underline from all links in the footer */
  color: inherit; /* Inherit color from parent element */
}

.footer a:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better UX */
}
  
.fLists{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}
  
.fList{
  list-style: none;
  padding: 0;
}
  
.fListItem{
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
  text-decoration: none; /* Remove underline from links */
}

.fListItem:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better UX */
}

.fText {
  text-align: center;
}

.fListItemHeader {
  font-weight: bold;
  margin-bottom: 10px;
  color: #003580;
}

