.header {
    background-color: #ff7139;
    color: black;
    display: flex;
    justify-content: center;
    position:relative;
   
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}    


.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}  

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.headerDesc {
    margin: 20px 0px;
    
}

.headerBtn {
    background-color: #ff7139;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transition for background and scale */
    position: relative;
    overflow: hidden;
}

.headerBtn:hover {
    background-color: #e65c28; /* Change background color on hover */
    transform: scale(1.03); /* Slightly increase the size of the button */
    box-shadow: 0 5px 15px rgba(230, 90, 30, 0.4);
}

.headerBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    transition: 0.5s;
  }
  
  .headerBtn:hover::before {
    left: 100%;
  }
    
    .headerBtn.disabled {
      background-color: #ddd;
      color: #aaa;
      cursor: not-allowed;
    }
  
.headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    width: 100px;
    min-width: 1024px;
}

.headerIcon {
    color: lightgray;
    font-size: 24px;

}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;

}

.headerSearchInput {
    border: none;
    outline: none;
    font-size: 14px;
}

.headerSearchText {
    color: black;
    cursor: pointer;

}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 12px;
    
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #A0ECD0;
    color: #A0ECD0;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.headerTitle {
    font-size: 45px; 
    font-weight: bold;
    color: black;
    margin: 20px 0;
    text-align: left;
}

