.header {
    background-color: #ff7139;
    color: black;
    display: flex;
    justify-content: center;
    position:relative;
   
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}    


.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}  

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.headerDesc {
    margin: 20px 0px;
    
}

.headerBtn {
    background-color: #ff7139;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    width: 100px;
    min-width: 1024px;
}

.headerIcon {
    color: lightgray;
    font-size: 24px;

}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}

.headerSearchInput {
    border: none;
    outline: none;
    font-size: 14px;
}

.headerSearchText {
    color: black;
    cursor: pointer;

}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);

}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 12px;
    
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #A0ECD0;
    color: #A0ECD0;
    cursor: pointer;
    background-color: white;
  }

  .optionCounterButton:disabled {
    cursor: not-allowed;
  }

.loginButton {
    background-color: #ff7139;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.headerTitle {
    font-size: 45px; 
    font-weight: bold;
    color: black;
    margin: 20px 0;
    text-align: left;
}

